# compiled output
/dist

# dependencies
/node_modules
npm-debug.log
package-lock.json

# IDE - VSCode
.vscode

# GIT
.git*
!data/cache/.gitkeep
!data/logs/.gitkeep
.gitignore

# Docker
.dockerignore
Dockerfile
/docker-compose.override.yml

# Others
.idea/
.DS_Store
*.md

